In [1]:
import numpy as np
import pandas as pd

In [2]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [9]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])

In [10]:
df

             A         B
G1 1  0.512571  0.105699
   2 -0.587266  0.865918
   3 -0.555415 -0.153749
G2 1  0.428965 -0.146854
   2  0.482971  1.488199
   3 -0.950981 -0.380805

In [16]:
df.index.names = ['Groups', 'Num']

In [17]:
df

                   A         B
Groups Num
G1     1    0.512571  0.105699
       2   -0.587266  0.865918
       3   -0.555415 -0.153749
G2     1    0.428965 -0.146854
       2    0.482971  1.488199
       3   -0.950981 -0.380805

In [22]:
df.loc['G1']

            A         B
Num
1    0.512571  0.105699
2   -0.587266  0.865918
3   -0.555415 -0.153749

In [26]:
df.xs(1, level='Num')

               A         B
Groups
G1      0.512571  0.105699
G2      0.428965 -0.146854